<template>
    <div class="reg">
        <div class="wrapper">
            <div class="reg__container">
                <form @submit.prevent="onSubmitFn" class="reg__form">
                    <div class="input-field">
                        <label for="email" class="input-field__label">Email:</label>
                        <input type="email" id="email" v-model.trim="$v.email.$model" />
                        <!-- error field if email is empty -->
                        <span class="input-field__error"
                            v-if="$v.email.$dirty && !$v.email.required || globalError"
                        >Это обязательное поле.</span>
                        <!-- error field if email isn`t correct. if we touch field and invalid input -->
                        <span class="input-field__error"
                            v-if="$v.email.$dirty && !$v.email.email && !globalError"
                        >Введите корректный email.</span>
                        <!-- global error if data was not correct -->
                        <span class="input-field__error"
                            v-if="globalError"
                        >Перепроверьте введенные данные.</span>
                    </div>
                    <div class="input-field">
                        <label for="password" class="input-field__label">Пароль:</label>
                        <input type="password" id="password" v-model.trim="$v.password.$model" />

                        <!-- error field if password is empty -->
                        <span class="input-field__error"
                              v-if="$v.password.$dirty && !$v.password.required || globalError"
                        >Это обязательное поле.</span>
                        <!-- error field if password is short -->
                        <span class="input-field__error"
                            v-if="$v.password.$dirty && $v.password.required && !$v.password.minLength && !globalError"
                        >Длина пароля не менее 6. {{ $v.password.$model.length }}/6</span>
                        <!-- global error if data was not correct -->
                        <span class="input-field__error"
                            v-if="globalError"
                        >Перепроверьте введенные данные.</span>
                    </div>
                    <div class="input-field">
                        <label for="compare-password" class="input-field__label">Повторите пароль:</label>
                        <input type="password" id="compare-password" v-model.trim="$v.comparePassword.$model" />

                        <!-- error field if password is empty -->
                        <span class="input-field__error"
                              v-if="$v.comparePassword.$dirty && !$v.comparePassword.required || globalError"
                        >Это обязательное поле.</span>
                        <!-- global error if data was not correct -->
                        <span class="input-field__error"
                            v-if="globalError"
                        >Перепроверьте введенные данные.</span>
                    </div>

                    <button class="sendMail" ref="submitButton">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {email, required, sameAs, minLength} from 'vuelidate/lib/validators'
    import {EventEmitter} from "../main"

    export default {
        name: 'registration',
        data: () => ({
            email: '',
            password: '',
            comparePassword: '',
            globalError: false
        }),
        methods: {
            onSubmitFn: function () {
                let {submitButton} = this.$refs
                submitButton.disabled = true

                // check field is valid
                // if true send data and call success alert
                if (!this.$v.email.$invalid
                    && !this.$v.password.$invalid
                    && !this.$v.comparePassword.$invalid
                   )
                {
                    EventEmitter.$emit('successMail')
                    submitButton.disabled = false
                    this.resetAllFields() // clear inputs
                }
                // if false call error messages
                else {
                    this.globalError = true
                    // if one of input will focusing globalError will be hidden
                    this.resetGlobalError()
                }
            },
            resetGlobalError: function () {
                let {submitButton} = this.$refs
                let inputs = Array.from(document.querySelectorAll('.input-field input'))
                inputs.forEach(input => {
                    input.addEventListener('focus', () => {
                        this.globalError = false
                        submitButton.disabled = false
                        this.removeListeners(inputs)
                    })
                })
            },
            removeListeners: function (inputs) {
                inputs.forEach(input => input.removeEventListener('focus', () => {}))
            },
            resetAllFields: function () {
                this.email = ''
                this.password = ''
                this.comparePassword = ''
                this.$v.$reset()
            }
        },
        validations: {
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(6)
            },
            comparePassword: {
                required,
                sameAsPassword: sameAs('password')
            }
        }
    }
</script>

<style lang="scss" scoped>

    .reg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &__container {
            @extend .reg
        }

        &__form {
            min-width: 280px;
            width: 100%;
            max-width: 400px;
        }
    }

    .input-field {
        display: flex;
        flex-direction: column;

        & + * {
            margin-top: 10px;
        }

        &__label {
            display: block;
        }

        input {
            height: 36px;
            padding: 0 5px;
        }

        &__error {
            color: red;
            font-size: 12px;
        }
    }

    .sendMail {
        padding: 5px 10px;
        font-size: 18px;
    }
</style>