<template>
    <div class="card-product">
        <div class="card-product__image">
            <img :src="product.data.image" alt="">
        </div>
        <div class="card-product__name">{{ product.data.name }}</div>
        <div class="card-product__controls">
            <button type="button" class="control control__decrement" @click="decrement">-</button>
            <span>{{ product.data.counter }}</span>
            <button type="button" class="control control__increment" @click="increment">+</button>
        </div>
        <div class="card-product__cost"><span>{{ product.data.counter }}</span>*{{ product.data.cost }}</div>
        <div class="card-product__cost">={{ product.data.amount }}</div>
        <div class="card-product__delete" @click="deleteItem"><span></span></div>
    </div>
</template>

<script>
    export default {
        name: 'selected-product',
        props: {
            product: {type: Object}
        },
        methods: {
            increment: function () {
                this.$store.dispatch('incr_decr', {method: 'increment', id: this.product.data.id})
            },
            decrement: function () {
                if (this.product.data.counter > 1) {
                    this.$store.dispatch('incr_decr', {method: 'decrement', id: this.product.data.id})
                } else {
                    this.$emit('deleteSelectedItem', this.product.data.id)
                }
            },
            deleteItem: function () {
                this.$emit('deleteSelectedItem', this.product.data.id)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card {
        &-product {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--gray);
            padding: 10px 20px;

            & + * {
                margin-top: 10px;
            }

            &__image {
                display: flex;
                width: 50px;
                height: 50px;

                img {
                    object-fit: contain;
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }
            }

            &__controls {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 85px;
                height: 30px;

                span {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 25px;
                    height: 30px;
                    border: {
                        top: 1px solid;
                        bottom: 1px solid;
                    }
                }
            }

            &__delete {
                width: 20px;
                height: 20px;

                span {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        top: 50%;
                        left: 50%;
                        height: 1px;
                        width: 100%;
                        background-color: darkred;
                    }

                    &:before {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }

                    &:after {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
        }
    }
    .control {
        width: 30px;
        height: 30px;
        border: 1px solid;
        cursor: pointer;
    }
</style>