<template>
    <div class="card">
        <div class="wrapper">
            <div class="card__container">
                <div v-if="totalSelected === 0">Нет выбраных товаров</div>
                <card-product v-for="(product, i) in selectedItems"
                              :key="`selected-item-${i}`"
                              :product="product"
                              @deleteSelectedItem="deleteSelectedItem"
                              v-else
                />
                <button type="button" class="card__delete" v-if="total !== 0" @click="deleteCard">Очистить корзину</button>
                <span class="clearfix"></span>
                <div class="card__amount" v-if="total !== 0"><strong>Всего: {{ total }} грн.</strong></div>
                <span class="clearfix"></span>
            </div>
        </div>
    </div>
</template>

<script>
    import CardProduct from './Card-product-form'
    import {mapGetters} from 'vuex'

    export default {
        name: 'card',
        components: {
            CardProduct
        },
        computed: {
            selectedItems: {
                get: function () { return this.$store.getters.selectedItems },
                set: function (val) { return val }
            },
            ...mapGetters(['total', 'totalSelected'])
        },
        methods: {
            deleteSelectedItem: async function (id) {
                this.selectedItems = await this.$store.dispatch('deleteItemFromCard', id)
            },
            deleteCard: function () {
                this.$store.dispatch('deleteCard')
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card {

        &__delete {
            display: inline-block;
            float: right;
            margin: {
                top: 20px;
                right: 7px;
            };
            padding: 4px 10px 5px;
            cursor: pointer;
        }

        &__amount {
            margin-top: 20px;
            float: right;
        }
    }
</style>