<template>
    <div>
        <h1 class="error-page">Страница не найдена</h1>
    </div>
</template>

<script>
    export default {
        name: 'error-page'
    }
</script>

<style lang="scss" scoped>
.error-page {
    text-align: center;
    color: red;
}
</style>