<template>
    <footer>
        <div class="wrapper">
            <div class="footer__container">

                <div class="logotype" v-if="$route.name === 'index'"><img src="../assets/logo.png" alt="Company-name">
                </div>
                <router-link class="logotype" tag="a" :to="{name: 'index'}" exact v-else><img src="../assets/logo.png"
                                                                                              alt="Company-name">
                </router-link>

                <ul class="share">
                    <li
                            v-for="share in shares"
                            :key="share.name"
                            class="share__item"
                    >
                        <a
                                :href="share.href"
                                v-html="share.icon"
                                class="share__icon"
                                :title="share.name"
                                :target="share.target ? share.target : '_self'"
                        >
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        data: () => ({
            shares: [
                {
                    name: 'heroku',
                    href: 'https://mini-online-store.herokuapp.com/',
                    icon: `<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path style="fill:#564D80;" d="M414.5,0H252.75l-75,256l75,256H414.5c33.084,0,60-26.916,60-60V60C474.5,26.916,447.584,0,414.5,0z"
                                />
                            <path style="fill:#8062A7;" d="M97.5,0c-33.084,0-60,26.916-60,60v392c0,33.084,26.916,60,60,60h155.25V0H97.5z"/>
                            <path style="fill:#EFF6F9;" d="M348.006,213.218c-17.79-15.071-41.893-21.397-66.121-17.36l-29.135,4.856l-30,30.828l30,30
                                l38.998-6.5c6.897-1.15,13.106,0.256,17.476,3.958c4.37,3.702,6.776,9.593,6.776,16.587V452h60V275.586
                                C376,251.021,365.797,228.289,348.006,213.218z"/>
                            <g>
                                <polygon style="fill:#FFFFFF;" points="196,210.172 196,60 136,60 136,281 252.75,261.541 252.75,200.714 	"/>
                                <polygon style="fill:#FFFFFF;" points="136,349 196,394 136,439 	"/>
                            </g>
                            <path style="fill:#EFF6F9;" d="M369.153,120.858C373.665,101.123,376,80.743,376,60h-60c0,21.152-3.147,41.579-8.969,60.858H369.153z"/>
                           </svg>`
                },
                {
                    name: 'gitlab',
                    href: 'https://gitlab.com/vladimirdvch/sliceplanet/tree/master',
                    target: '_blank',
                    icon: `<svg class="tanuki-logo" viewBox="0 0 36 36">
                              <path class="tanuki-shape tanuki-left-ear" fill="#e24329" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z"></path>
                              <path class="tanuki-shape tanuki-right-ear" fill="#e24329" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z"></path>
                              <path class="tanuki-shape tanuki-nose" fill="#e24329" d="M18,34.38 3,14 33,14 Z"></path>
                              <path class="tanuki-shape tanuki-left-eye" fill="#fc6d26" d="M18,34.38 11.38,14 2,14 6,25Z"></path>
                              <path class="tanuki-shape tanuki-right-eye" fill="#fc6d26" d="M18,34.38 24.62,14 34,14 30,25Z"></path>
                              <path class="tanuki-shape tanuki-left-cheek" fill="#fca326" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z"></path>
                              <path class="tanuki-shape tanuki-right-cheek" fill="#fca326" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"></path>
                            </svg>`
                },
                {
                    name: 'Google sheet',
                    href: 'https://docs.google.com/spreadsheets/d/1k1KsTac2Aqb9yiVnb7HLzYJJ3_DYD6W2_D-ZYCyAB48/edit?usp=sharing',
                    target: '_blank',
                    icon: `<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" viewBox="0 0 17639 17639">
                             <g id="Layer_x0020_1">
                              <path class="fil0" d="M9596 3634l0 10265 -6103 -1058 0 -8149 6103 -1058zm290 1185l4053 0c224,0 267,44 267,267l0 7360c0,223 -43,267 -267,267l-4053 0 0 -694 1547 0 0 -1066 -1547 0 0 -320 1547 0 0 -1067 -1547 0 0 -320 1547 0 0 -1067 -1547 0 0 -320 1547 0 0 -1066 -1547 0 0 -320 1547 0 0 -1067 -1547 0 0 -587zm-7803 10774l13474 0 2 -13476 -13478 0 2 13476z" style="fill: #1E7145;"/>
                              <polygon class="fil0" points="7129,6861 6573,8133 6141,6938 5446,6969 6136,8710 5359,10413 6042,10464 6590,9239 7100,10535 7886,10578 7034,8703 7849,6809 " style="fill: #1E7145;"/>
                              <polygon class="fil0" points="11753,12019 13513,12019 13513,10953 11753,10953 " style="fill: #1E7145;"/>
                              <polygon class="fil0" points="11753,10633 13513,10633 13513,9566 11753,9566 " style="fill: #1E7145;"/>
                              <polygon class="fil0" points="11753,9246 13513,9246 13513,8179 11753,8179 " style="fill: #1E7145;"/>
                              <polygon class="fil0" points="11753,6473 13513,6473 13513,5406 11753,5406 " style="fill: #1E7145;"/>
                              <polygon class="fil0" points="11753,7859 13513,7859 13513,6793 11753,6793 " style="fill: #1E7145;"/>
                             </g>
                            </svg>`
                },
                {
                    name: 'linkedIn',
                    href: 'https://www.linkedin.com/in/vladimir-dudkevych-2a92a0163/',
                    target: '_blank',
                    icon: `<svg fill="#418cb2" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                               <path d="m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm-74.390625 387h-62.347656v-187.574219h62.347656zm-31.171875-213.1875h-.40625c-20.921875 0-34.453125-14.402344-34.453125-32.402344 0-18.40625 13.945313-32.410156 35.273437-32.410156 21.328126 0 34.453126 14.003906 34.859376 32.410156 0 18-13.53125 32.402344-35.273438 32.402344zm255.984375 213.1875h-62.339844v-100.347656c0-25.21875-9.027343-42.417969-31.585937-42.417969-17.222656 0-27.480469 11.601563-31.988282 22.800781-1.648437 4.007813-2.050781 9.609375-2.050781 15.214844v104.75h-62.34375s.816407-169.976562 0-187.574219h62.34375v26.558594c8.285157-12.78125 23.109375-30.960937 56.1875-30.960937 41.019531 0 71.777344 26.808593 71.777344 84.421874zm0 0"/>
                           </svg>`
                }
            ]
        })
    }
</script>

<style lang="scss" scoped>

    .footer {
        &__container {
            display: flex;
            align-items: center;
            padding: {
                top: 20px;
                bottom: 20px;
            };
        }
    }

    .logotype {
        display: inline-block;
        width: 40px;
        height: 40px;

        img {
            font-size: 12px;
            color: var(--dark);
            line-height: 1;
            max-width: 100%;
            object-fit: contain;
        }
    }

    .share {
        margin: {
            left: auto;
            right: 50px;
        };
        display: flex;
        align-items: center;

        &__item {
            & + * {
                margin-left: 10px;
            }
        }

        &__icon {
            display: block;
            width: 24px;
            height: 24px;
        }
    }

</style>