<template>
    <header>
        <div class="wrapper">
            <div class="header__container">
                <div class="logotype" v-if="$route.name === 'index'"><img src="../assets/logo.png" alt="Company-name"></div>
                <router-link class="logotype" tag="a" :to="{name: 'index'}" exact v-else><img src="../assets/logo.png" alt="Company-name"></router-link>
                <Menu />
            </div>
        </div>
    </header>
</template>

<script>
    import Menu from './Menu'
    export default {
        components: {
            Menu
        }
    }
</script>

<style lang="scss" scoped>

    .header {
        &__container {
            display: flex;
            align-items: center;
            height: 64px;
        }
    }

    .logotype {
        display: block;
        width: 64px;
        height: 64px;

        img {
            font-size: 12px;
            line-height: 1;
            color: var(--dark);
            max-width: 100%;
            object-fit: contain;
        }
    }

</style>