<template>
    <div class="catalog">
        <div class="wrapper">
            <div class="catalog__container" v-if="!loading">
                <Product v-for="product in products"
                         :key="product.id"
                         :product="product"
                />
            </div>
            <div class="loader" v-else>Loading....</div>
        </div>
    </div>
</template>

<script>
    import Product from './Product-form'
    import {mapGetters} from 'vuex'
    export default {
        name: 'catalog',
        components: {
            Product
        },
        computed: {
            ...mapGetters(['loading', 'products']),
            /*productsList: function () {
                return this.$store.getters.products
            }*/
        }
    }
</script>

<style lang="scss" scoped>
    .catalog {
        &__container {
            display: flex;
            flex-wrap: wrap;
        }
    }
</style>