<template>
    <ul class="navigation">
        <router-link tag="li"
                     v-for="(link, i) in menu"
                     :key="`menu-item-${i}`"
                     :to="{name: link.href}"
                     exact
                     class="navigation__item"
        >
            <a class="navigation__link">{{ link.name }}</a>
            <span class="counter" v-if="i === 1 && counter !== 0">{{ counter }}</span>
        </router-link>
    </ul>
</template>

<script>
    export default {
        data: () => ({
            menu: [
                {
                    name: 'Главная',
                    href: 'index',
                },
                {
                    name: 'Корзина',
                    href: 'card'
                },
                {
                    name: 'Регистрация',
                    href: 'registration'
                }
            ]
        }),
        computed: {
            counter: function () {
                return this.$store.getters.totalSelected
            }
        }
    }
</script>

<style lang="scss" scoped>

    .navigation {
        display: flex;
        margin-left: auto;

        & > * + * {
            margin-left: 20px;
        }

        &__item {
            display: flex;
            align-items: center;

            &.active-router {
                & > * {
                    color: var(--secondary);
                    border-color: var(--secondary);
                }
            }

            & > * {
                display: inline-block;
            }
        }

        &__link {
            color: var(--primary);
            transition: color var(--time) ease;
        }
    }

    .counter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        font-size: 12px;
        border: 1px solid var(--text);
        border-radius: 50%;
        margin-left: 5px;
        transition: border-color var(--time) ease, color var(--time) ease;
    }

</style>