<template>
    <div class="modal" v-show="modal" ref="modal">
        <div class="modal__container">
            <button type="button" class="modal__close" ref="modalCloseButton">
                <i class="material-icons">close</i>
            </button>
            <h3>Спасибо за регистрацию</h3>
        </div>
    </div>
</template>

<script>
    import {EventEmitter} from "../main";

    export default {
        data: () => ({
            modal: false
        }),
        created: function () {
            EventEmitter.$on('successMail', () => {
                this.modal = true
            })
        },
        mounted: function () {
            this.customCloseModal()
        },
        methods: {
            customCloseModal: function () {
                let {modal, modalCloseButton} = this.$refs
                document.addEventListener('click', (event) => {
                    let e = event || window.event
                    let ev = e.target || e.srcElement
                    if (ev === modal || ev === modalCloseButton || modalCloseButton.contains(ev)) {
                      this.modal = !this.modal
                    }
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .modal {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(#000, .3);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__container {
            position: relative;
            max-width: 500px;
            width: 100%;
            min-height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--light);
            border-radius: 4px;
            padding: 10px;
        }

        &__close {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-100%);
            cursor: pointer;
        }
    }
</style>