<template>
    <div class="product">
        <div class="product__image">
            <img :src="product.image" :alt="product.name">
        </div>
        <div class="product__name">{{ product.name }}</div>
        <div class="product__cost">{{ product.cost }} грн.</div>
        <button type="button" class="product__button" @click="selectProduct">В корзину</button>
    </div>

</template>

<script>
    export default {
        name: 'product',
        props: {
            product: {type: Object}
        },
        methods: {
            selectProduct: function () {
                this.$store.dispatch('selectedProduct', this.product.id)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .product {
        display: flex;
        flex-direction: column;
        width: 23.5%;
        margin: {
            right: 2%;
            bottom: 30px;
        };
        background-color: #f1f1f1;
        border: 1px solid #f9f9f9;
        padding-bottom: 10px;

        &:nth-child(4n) {
            margin-right: 0;
        }

        &__image {
            height: 300px;

            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__name {
            margin: 5px 0 6px;
            padding: 0 20px;
        }

        &__cost {
            padding: 0 20px;
        }

        &__button {
            margin-right: 10%;
            align-self: flex-end;
            padding: 3px 10px 4px;
            cursor: pointer;
        }
    }
</style>