<template>
    <div id="app">

        <!-- header start -->
        <Header/>
        <!-- header finish -->
        <!-- main content start -->
        <main>
            <router-view/>
        </main>
        <!-- main content finish -->
        <!-- footer start -->
        <Footer/>
        <!-- footer end -->
        <!-- modals popup start -->
        <Modal />
        <!-- modals popup finish -->

    </div>
</template>

<script>
    import Header from './components/Header'
    import Footer from './components/Footer'
    import Modal from './components/Modal'

    export default {
        name: 'app',
        components: {
            Header,
            Footer,
            Modal
        },
        created: function () {
            this.$store.dispatch('getProductsFromAPI')
        }
    }
</script>

<style lang="scss">

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --dark: #000;
        --light: #fff;
        --gray: #f1f1f1;
        --text: #222;
        --primary: #35495e;
        --secondary: #41b883;
        --time: 250ms;
    }

    html, body {
        height: 100%;
    }

    body {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }

    .clearfix {
        display: block;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }

    #app {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        background-color: var(--light);
        color: var(--text);

        & > *:not(header):not(footer):not(.modal) {
            flex-grow: 1;
        }
    }

    .wrapper {
        max-width: 1280px;
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }

    ul {
        list-style: none;
    }

    a, a:hover {
        text-decoration: none;
    }

    main {
        & > * {
            padding: 30px 0 40px;
        }
    }

</style>
